.container-fluid
{
    height: 100vh;   
    min-height: 100vh;
}

.right-spacer {
    flex: 1 1 auto;
  }
  
  .bg-transparent
  {
      background: transparent !important;
  }

  mat-drawer
  {
      width: 15rem;
  }